Change Item Value

In [3]:
thistuple = ("Frankie", "Nicole", "Espina")
print(thistuple)

('Frankie', 'Nicole', 'Espina')

Tuple Length

In [4]:
thistuple = tuple(("Blue", "Green", "Red"))
print(len(thistuple))

3

Tuple Items - Data Types

In [1]:
tuple1 = ("Blue", "Yellow", "Green")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('Blue', 'Yellow', 'Green')
(1, 5, 7, 9, 3)
(True, False, False)

Access Tuple Items

In [2]:
thistuple = ("Frankie", "Nicole", "Espina")
print(thistuple[1])

Nicole

Change Tuple Values

In [5]:
x = ("athena", "simba", "luna")
y = list(x)
y[1] = "simba"
x = tuple(y)

print(x)

('athena', 'simba', 'luna')

Remove Items

In [7]:
thistuple = ("athena", "simba", "luna")
y = list(thistuple)
y.remove("luna")
thistuple = tuple(y)

print(thistuple)

('athena', 'simba')

Loop Through a Tuple

In [8]:
thistuple = ("pink", "blue", "black")
for x in thistuple:
  print(x)

pink
blue
black

Join Two Tuples

In [10]:
tuple1 = ("f", "n" , "e")
tuple2 = (1, 2, 8)

tuple3 = tuple1 + tuple2
print(tuple3)

('f', 'n', 'e', 1, 2, 8)

Multiply Tuples

In [15]:
fruits = ("mango", "grapes", "banana")
mytuple = fruits * 2

print(mytuple)

('mango', 'grapes', 'banana', 'mango', 'grapes', 'banana')